{% load static %}

<header class="second-head">
  <div class="container">
    <div class="head-img">
      <a href="{% url 'index' %}">
      <img src="{% static 'img/logo-head2.png' %}" width="150" height="86" ></a>
    </div>

    <nav class="head-nav">
      <ul class="head-ul">
        <li>
          <a href="{{ user.profile.get_absolute_url }}">Мой профиль</a>
        </li>
        <li>
          <a href="{% url 'posts' %}">Все посты</a>
        </li>
        <li>
          <a>Настройки</a>
            <ul class='submenu'>
              {% if request.user.is_superuser %}
              <li>
                <a href="/admin/">Администрация</a>
              </li>
              {% endif %}
              <li>
                <a href="{% url 'account-delete' %}">Удалить аккаунт</a>
              </li>
              <li>
                <a href="{% url 'account-username-update' %}">Изменить имя пользователя</a>
              </li>
              <li>
                <a href="{% url 'account-email-update' %}">Изменить адрес электронной почты</a>
              </li>
              <li>
                <a href="{% url 'account-password-change' %}">Изменить пароль</a>
              </li>
              <li>
                <a href="{% url 'account-logout' %}">Выход</a>
              </li>
            </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
